<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color:blue" [fullscreen]="true"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <P></P>
  <P></P>
  <H1 style="text-align: center ;">ELIGE UNA OPCIÓN</H1>
  <ion-button expand="block" (click)="createPiloto()">INSERTAR UN PILOTO</ion-button>
  <P></P>
  <P></P>
 
  <ion-button expand="block" href="https://www.formula1.com/">PAGINA OFICIAL DE F1</ion-button>


</ion-content>
