<!-- <ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>Create Piloto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="pilotoForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">escuderia</ion-label>
        <ion-input formControlName="escuderia" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">numero</ion-label>
        <ion-input formControlName="numero" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Añadir</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
